# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# ignore Composer downloads
/lib/vendor/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml

# Leo original
.DS_Store

# Nishioka memo
/readme.txt