/*
    全体の九通スタイル
*/

body {
    font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
    color: #000;
    font-size: 16px;
}

main {
    padding-top: 82px;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

ul, ol {
    list-style-type: none;
}

.title-font {
    font-size: 32px;
    font-weight: 500;
}

.subtitle-font {
    font-size: 24px;
}

.inner {
    width: 960px;
    margin: 0 auto;
}

.for-center {
    text-align: center;
}

.content-between {
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: rgba(0, 188, 212, 1);
    color: #fff;
}

.btn:hover {
    color: #fff;
    background-color: rgba(0, 188, 212, 0.7);
}

.btn-warning {
    background-color: rgba(255, 129, 129, 1.0);
}

.btn-warning:hover {
    background-color: rgba(255, 129, 129, 0.7);
}



/*
    ヘッダースタイル
*/

#header {
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0 0 2px -1px gray;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-list {
    display: flex;
}

.header-item {
    vertical-align: middle;
    margin-top: 5px;
}

.header-item + .header-item {
    margin-left: 10px;
}

.header-btn {
    padding: 10px;
    border-radius: 5px;
}




/*
    フッタースタイル
*/







/*
    登録フォームのスタイル
*/

.form-wrapper {
    width: 600px;
    margin: 0 auto;
}

.form-wrapper h2 {
    text-align: center;
}

.form-wrapper form {
    padding: 50px;
    margin-top: 40px;
    border: 1px solid #d0d0d0;
    border-radius: 15px;
}

.form-wrapper form p {
    margin-top: 50px;
}

.form-wrapper form p:first-child {
    margin-top: 0;
}

.form-text {
    width: 100%;
    padding: 4px;
    font-size: 24px;
    margin-top: 15px;
    background-color: #fcfcfc;
}

.reset-select-style {
    overflow: hidden;
}

.reset-select-style select {
	cursor: pointer;
    text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}

.reset-select-style select::-ms-expand {
    display: none;
}

.form-select {
    margin-top: 15px;
    width: 60%;
    position: relative;
	border: 1px solid #bbbbbb;
	background: #ffffff;
}

.form-select::before {
    position: absolute;
	top: 0.8em;
	right: 0.9em;
    content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
}

.form-select::after {
    position: absolute;
	top: 0;
	right: 2.5em;
	bottom: 0;
	content: '';
	border-left: 1px solid #bbbbbb;
}

.form-select select {
    padding: 4px;
    font-size: 16px;
	color: #666666;
}

.form-button {
    background-color: rgba(0, 188, 212, 1);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 40px;
    transition: 0.3s;
}

.form-button:hover {
    background-color: rgba(0, 188, 212, 0.8);
    color: #fff;
}



/*
    管理者登録フォームのスタイル
*/

#admin-registration {
    padding: 80px 0;
}



/*
    メインページのスタイル
*/

.attendance-main-wrapper {
    /* background-color: yellow; */
    padding: 80px 0;
}

.main-header .right {
    font-size: 20px;
}

.date-title {
    margin: 0 16px;
}

.main-admin-btns {
    padding-top: 40px;
    display: flex;
}

.me-btn-wrapper {
    padding-top: 10px;
    padding-right: 50px;
}

.main-admin-btns form {
    display: flex;
}

.main-admin-btns .form-select {
    margin-top: 0;
    margin-right: 10px;
    width: 300px;
}

.main-admin-btns .form-select select {
    padding: 9px 4px;
    font-size: 16px;
    line-height: 16px;
}

.main-admin-btns .form-button {
    margin-top: 0;
    font-size: 16px;
    line-height: 16px;
}

.main-content {
    padding: 40px 0;
}

.main-content table {
    display: block;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
}

.main-content th {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
}

.main-content td {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
    text-align: right;
}

.main-footer {
    padding: 40px 0;
}

.main-footer th {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
}

.main-footer td {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
    text-align: right;
}

.comment-table {
    margin-top: 40px;
}

.comment-table th, .comment-table td {
    padding: 8px 12px;
}

.main-footer-btns div {
    display: flex;
    flex-direction: column;
}

.main-footer-btns div a:first-child {
    margin-top: 10px;
}

.sunday-style {
    background-color: rgba(255, 129, 129, 0.7);
}

.saturday-style {
    background-color: rgba(0, 188, 212, 0.7);
}
