/*
    全体の共通スタイル
*/

* {
    box-sizing: border-box;
}

section {
    width: 100%;
/*    font-size: 4px;*/
}

/*.inner {
    max-width: 960px; 
    width: 960px;
    margin: 0 auto;
}
*/
.for-center {
    text-align: center;
}

/*.content-between {
    display: flex;
    justify-content: space-between;
}
*/
/*
    メインページのスタイル
*/

.attendance-main-wrapper {
    padding: 80px 0;
}

.main-header {
    text-align: right;
}

.date-title {
    margin: 0 16px;
}

.main-admin-btns {
    padding-top: 40px;
    display: flex;
}

.main-admin-btns form {
    display: flex;
}

.main-admin-btns .form-select {
    margin: 0 10px 0 50px;
    width: 300px;
}

.main-admin-btns .form-select select {
    padding: 9px 4px;
    font-size: 16px;
    line-height: 16px;
}

.main-admin-btns .form-button {
    margin-top: 0;
    font-size: 16px;
    line-height: 16px;
}

.main-content {
    padding: 40px 0;
}

.main-content table {
/*    display: block;*/
    display: table;
    width: 100%;
    overflow-x: scroll;
/*    table-layout: fixed;*/
    white-space: nowrap;
/*    margin: 0 150px 0 150px;*/
    margin: 0 auto;
}

.main-content th {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
}

.main-content td {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
    text-align: right;
}

.main-footer {
    padding: 40px 0;
    margin: 0 0 0 auto;
}

.main-footer th {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
}

.main-footer td {
    padding: 4px 12px;
    border: 1px solid #d0d0d0;
    text-align: right;
}

.comment-table {
    margin-top: 40px;
}

.comment-table th, .comment-table td {
    padding: 20px 12px;
}

.comment-table th {
    vertical-align: middle;
}

.main-footer-btns div {
    display: flex;
    flex-direction: column;
}

.main-footer-btns div a:first-child {
    margin-top: 10px;
}

.sunday-style {
    background-color: rgba(255, 129, 129, 0.5);
}

.saturday-style {
    background-color: rgba(0, 188, 212, 0.5);
}

/* 社内業務内容のテーブル幅 */
.ib_content {
    width: 115px;
}

/*
    スマホ用のデザイン
*/

@media screen and (max-width: 480px) {


    body {
        font-size: 12px;
    }

    main {
        padding-top: 40px;
    }

    .title-font {
        font-size: 24px;
        font-weight: 500;
    }

    .subtitle-font {
        font-size: 18px;
    }

    .inner {
        width: 100%;
        padding: 0 10px;
    }

    .form-wrapper {
        width: 100%;
    }

    .form-wrapper form {
        padding: 30px 20px;
    }

    .form-select {
        width: 100%;
    }

    .mobile-content-wrap {
        flex-wrap: wrap;
    }

    #attendance-post, #retirement-post {
        padding: 80px 0 40px;
    }

    #attendance-post form, #retirement-post form {
        width: 100%;
    }

    #attendance-post .form-date, #retirement-psot .form-date {
        border: 1px solid #bbbbbb;
    }

    #retirement-post .left, #retirement-post .right {
        width: 100%;
    }

    .attendance-main-wrapper {
        padding-bottom: 20px;
    }

    .main-header .right {
        margin-top: 30px;
        font-size: 16px;
    }

    .main-admin-btns form {
        flex-wrap: wrap;
    }

    .main-admin-btns .form-select {
        margin: 20px 0;
    }

    .main-footer-btns {
        margin-top: 40px;
        width: 100%;
    }

    .main-footer-btns .form-button {
        margin-top: 15px;
    }

}